if lang === 'eng'
    p.m-0 Quality Control and Laboratory Manager
    p MSEE Slaviša Marković
else
    p.m-0 Šef Kontrole kvaliteta i Laboratorije
    p dipl ing el Slaviša Marković    
img(src="/img/Potpis Sasa.jpg", alt="potpis").img.mb-5