nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.py-2
    .container
        a.navbar-brand(href='/api/v2/reports/dom')
            h3
                i.fa.fa-files-o
                |   REPORTS
        
        button.navbar-toggler#hamb(data-toggle='collapse', data-target='#myCollapse')
            p.m-auto#nav-icon3
                span                
                span                
                span                
                span                
                        
        #myCollapse.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href='/api/v2/reports/dom', class=(path === 'dom' ? 'active' :'')) Domaći Izveštaji
                li.nav-item
                    a.nav-link(href='/api/v2/reports/exp', class=(path === 'exp' ? 'active' : '')) Ino Izveštaji
                li.nav-item
                    a.nav-link(href='/api/v2/reports/shift', class=(path === 'shift' ? 'active' : '')) Smenski Izveštaji
                li.nav-item
                    a.nav-link(href='/api/v2/products/create', class=(path === 'product' ? 'active' : '')) Proizvodi
                                        
            if !isAuthenticated
                ul.navbar-nav.ml-auto#userNav
                    li.nav-item.mr-2.mb-2.mb-lg-0
                        a.btn.btn-outline-info(href='/api/v2/auth/login') Prijava
                    li.nav-item
                        a.btn.btn-outline-info(href='/api/v2/auth/register') Registracija
            else 
                ul.navbar-nav.ml-auto#userNav
                    li.nav-item.mr-2.mb-2.mb-lg-0
                        a.btn.btn-outline-info(href='#').d-flex.align-items-center
                            img.icon.icon--user.mr-2(src=`/img/${avatarUrl}`, alt="user")
                            p.m-0   #{userName}
                    li.nav-item.align-self-center
                        form(action='/api/v2/auth/logoutAll', method='POST')
                            input(type='hidden', name='_csrf', value=csrfToken)
                            button.btn.btn-outline-info(type='submit') Odjava 