ul.navbar-nav.mr-auto#optionsNav
    //-li.nav-item.mr-2.mb-2.mb-lg-0(data-toggle="tooltip", title="Morate prvo da se ulogujete!", data-placement="bottom")
        a(href="product-create.html").btn.btn-secondary.disabled Dodaj novi proizvod

    //-li.nav-item.mb-2.mb-lg-0(data-toggle="tooltip", title="Morate prvo da se ulogujete!", data-placement="bottom")
        a(href="product-update.html").btn.btn-secondary.disabled Izmeni / Obriši proizvod

    li.nav-item.mr-2.mb-2.mb-lg-0
        a(href="../products/create").btn.btn-secondary Dodaj novi proizvod

    li.nav-item.mb-2.mb-lg-0
        a(href="../products/update").btn.btn-secondary Izmeni / Obriši proizvod