ul.navbar-nav.mr-auto#optionsNav
    if isAuthenticated
        li.nav-item.mr-2.mb-2.mb-lg-0
            a(href='#').btn.btn-secondary Svi izveštaji

        li.nav-item.mr-2.mb-2.mb-lg-0
            a(href='#').btn.btn-secondary Izmeni / Obriši izveštaj
            
        li.nav-item.mr-2.mb-2.mb-lg-0
            a(href='#').btn.btn-secondary Kreiraj mesečni izveštaj
    else
        li.nav-item.mr-2.mb-3.mb-lg-0(data-toggle='tooltip', title='Morate prvo da se prijavite!', data-placement='bottom')
            a(href='#').btn.btn-secondary.disabled Svi izveštaji

        li.nav-item.mr-2.mb-2.mb-lg-0(data-toggle='tooltip', title='Morate prvo da se prijavite!', data-placement='bottom')
            a(href='#').btn.btn-secondary.disabled Izmeni / Obriši izveštaj
            
        li.nav-item.mb-2.mb-lg-0(data-toggle='tooltip', title='Morate prvo da se prijavite!', data-placement='bottom')
            a(href='#').btn.btn-secondary.disabled Kreiraj mesečni izveštaj