ul.navbar-nav.mr-auto#optionsNav
    if isAuthenticated
        li.nav-item.mr-2.mb-2.mb-lg-0
            a(href=`/api/v2/products/create`).btn.btn-secondary Dodaj novi proizvod

        li.nav-item.mr-2.mb-2.mb-lg-0
            a(href=`/api/v2/products/update`).btn.btn-secondary Izmeni proizvod

        li.nav-item.mb-2.mb-lg-0
            a(href=`/api/v2/products/allProducts`).btn.btn-secondary Svi proizvodi

    else
        li.nav-item.mr-2.mb-2.mb-lg-0(data-toggle='tooltip', title='Morate prvo da se prijavite!', data-placement='bottom')
            a(href='#').btn.btn-secondary.disabled Dodaj novi proizvod

        li.nav-item.mr-2.mb-2.mb-lg-0(data-toggle='tooltip', title='Morate prvo da se prijavite!', data-placement='bottom')
            a(href='#').btn.btn-secondary.disabled Izmeni / Obriši proizvod

        li.nav-item.mb-2.mb-lg-0(data-toggle='tooltip', title='Morate prvo da se prijavite!', data-placement='bottom')
            a(href='#').btn.btn-secondary.disabled Svi izveštaji
        