ul.navbar-nav.ml-auto#userNav
    li.nav-item.mr-2.mb-2.mb-lg-0
        a.btn.btn-outline-info(href="login.html") Prijava
    li.nav-item
        a.btn.btn-outline-info(href="login.html") Registracija