ul.navbar-nav.ml-auto#userNav
    li.nav-item.mr-2.mb-2.mb-lg-0
        a.btn.btn-outline-info(href="../auth/login") Prijava
    li.nav-item
        a.btn.btn-outline-info(href="../auth/register") Registracija