extends layouts/main-layout.pug

block user
    ul.navbar-nav.ml-auto#userNav
        li.nav-item.mr-2.mb-2.mb-lg-0
            a.btn.btn-outline-info(href="login.html") Prijava
        li.nav-item
            a.btn.btn-outline-info(href="login.html") Registracija        
        
block content
    h3.m-3 Strana nije pronađena 👀
    
block footer
    footer#main-footer.bg-dark.text-light.text-center.fixed-bottom Reports &copy;
        span.year