extends layouts/main-layout.pug

block primaryNavBar
    include layouts/primaryNavBarAll.pug

block secondaryNavBar
    include layouts/secondaryNavBar.pug
        block secondaryMenu
            include layouts/secondaryMenuProduct.pug

block content
    .container.my-3.pb-5.w-100
        .row.w-100
            .form-group.mx-auto.my-4
                input.form-control.mb-4(placeholder='Unesi kriterijum' value='' autofocus=true)#filterTerm

                .form-check.mb-2
                    input#fltByName.form-check-input(type='radio' name='gridRadios' value='option1' )
                    label.form-check-label.font-weight-light(for='fltByName')
                        | Po nazivu proizvoda
                .form-check.mb-2
                    input#fltByCode.form-check-input(type='radio' name='gridRadios' value='option2' checked='')
                    label.form-check-label.font-weight-light(for='fltByCode')
                        | Po šifri proizvoda  

                p.lead.font-weight-normal#itemsCounter
            .list-group.w-100#productsListContainer
                
    
block footer    
    include layouts/fixed_footer.pug