extends layouts/auth_layout.pug

block link
    a.nav-link(href="../auth/login") PRIJAVA

block content
    section.my-5
        .container
            .row
                .col-md-6.m-auto
                    .card
                        .card-header
                            h4
                                i.far.fa-user
                                |   Korisnički panel
                        .card-body
                            form#authForm(action="/", method="GET")
                                .form-group
                                    label(for="name") Korisničko ime
                                    input#name.form-control(name="name", type="email", placeholder="Obavezno polje")
                                .form-group
                                    label(for="email") Email
                                    input#email.form-control(name="email", type="email", placeholder="Obavezno polje")
                                .form-group
                                    label(for="password") Šifra
                                    input#password.form-control(name="password", type="password", placeholder="Obavezno polje")

                                .form-group.mb-4
                                    label(for="password2") Ponovite šifru
                                    input#password2.form-control(type="password", placeholder="Obavezno polje")
                                .form-group.mb-4
                                    label Odaberite profilnu sliku
                                    .custom-file                          
                                        input#customFile.custom-file-input(type="file", accept="image/*")
                                        label.custom-file-label(for="customFile") Opciono polje &#42;
    
                                button.btn.btn-info.btn-block.mt-3(type="submit")  Pošalji

block footer
    include layouts/fixed_footer.pug