extends layouts/auth_layout.pug

block link
    a.nav-link(href="../auth/register") REGISTRACIJA

block content
    section.h-75
        .container.h-100
            .row.h-100
                .col-md-6.m-auto
                    .card
                        .card-header
                            h4
                                i.far.fa-user.mr-2
                                | Prijava
                        .card-body
                            form#authForm(action='/api/v2/auth/login', method='POST')
                                .form-group
                                    label(for='email') Email
                                    input#email.form-control.mt-1.mb-1(type='email', name='email', autofocus=true)

                                .form-group
                                    label(for='password') Šifra
                                    input#password.form-control.mt-1.mb-1(type='password', name='password')

                                a.text-muted(href='#')
                                    p Zaboravili ste šifru?

                                input(type="hidden", name="_csrf", value=csrfToken)

                                button.btn.btn-info.btn-block.mt-3(type='submit') Pošalji

block footer
    include layouts/fixed_footer.pug