extends layouts/main-layout.pug

block user
    ul.navbar-nav.ml-auto#userNav
        li.nav-item.mr-2.mb-2.mb-lg-0
            a.btn.btn-outline-info(href="login.html") Prijava
        li.nav-item
            a.btn.btn-outline-info(href="login.html") Registracija

block content
    section.my-5
        .container
            .row
                .col-md-6.m-auto
                    .card
                        .card-header
                            h4
                                i.far.fa-user
                                |   Korisnički panel
                        .card-body
                            form#authForm(action="/", method="GET")
                                .form-group
                                    label(for="name") Korisničko ime
                                    input#name.form-control(name="name", type="email", placeholder="Obavezno polje")
                                .form-group
                                    label(for="email") Email
                                    input#email.form-control(name="email", type="email", placeholder="Obavezno polje")
                                .form-group
                                    label(for="password") Šifra
                                    input#password.form-control(name="password", type="password", placeholder="Obavezno polje")

                                .form-group.mb-4
                                    label(for="password2") Ponovite šifru
                                    input#password2.form-control(type="password", placeholder="Obavezno polje")
                                .form-group.mb-4
                                    label Odaberite profilnu sliku
                                    .custom-file                          
                                        input#customFile.custom-file-input(type="file", accept="image/*")
                                        label.custom-file-label(for="customFile") Opciono polje &#42;
    
                                button.btn.btn-info.btn-block.mt-3(type="submit")  Pošalji