extends layouts/main-layout.pug

block primaryNavBar
    include layouts/primaryNavBarAuth.pug

        block link
            a.nav-link(href='../auth/register') REGISTRACIJA

block content
    section.h-75
        .container.h-100
            .row.h-100
                .col-md-6.m-auto
                    .card
                        .card-header.bg-warning
                            h4
                                i.far.fa-user.mr-2
                                | Zaboravljena šifra
                        .card-body
                            form#forgottenPassword
                                .form-group
                                    label(for='password') Unesite novu šifru
                                    input#forgottenPasswordInput.form-control.mt-1.mb-1(type='password', name='password', placeholder='*******')

                                    br
                                .d-flex.flex-column.flex-lg-row.justify-content-lg-around
                                    a.btn.btn-secondary.mb-2.px-5(href="/api/v2/auth/login") Otkaži
                                    button.btn.btn-primary.mb-2.px-5(type='submit')#submitForgottenPassword Pošalji


block footer
    include layouts/fixed_footer.pug