extends layouts/auth_layout.pug

block link
    a.nav-link(href="../auth/login") PRIJAVA

block content
    section.h-75
        .container.h-100
            .row.h-100
                .col-md-6.m-auto
                    .card
                        .card-header
                            h4
                                i.far.fa-user
                                |   Korisnički panel
                        .card-body
                            form#authForm(action="/api/v2/auth/register", method="POST")
                                .form-group
                                    label(for="name") Korisničko ime
                                    input#name.form-control.mt-1.mb-1(name="name", type="text", autofocus)

                                .form-group
                                    label(for="email") Email
                                    input#email.form-control.mt-1.mb-1(name="email", type="email")

                                .form-group
                                    label(for="password") Šifra
                                    input#password.form-control.mt-1.mb-1(name="password", type="password")

                                .form-group.mb-4
                                    label(for="password2") Ponovite šifru
                                    input#confirmPassword.form-control.mt-1.mb-1(type="password")
                                //- .form-group.mb-4
                                //-     label Odaberite profilnu sliku
                                //-     .custom-file.mt-1.mb-1                          
                                //-         input#customFile.custom-file-input(type="file", accept="image/*")
                                //-         label.custom-file-label(for="customFile") Opciono polje &#42;
                                input(type="hidden", name="_csrf", value=csrfToken)
                                button.btn.btn-info.btn-block.mt-3(type="submit")  Pošalji

block footer
    include layouts/fixed_footer.pug