:root {
    --custom-orange: rgb(255, 213, 0);
    --custom-blue: rgb(23, 162, 184);
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

html {
    /* font-size: 62.5%; */
    scroll-behavior: smooth;
}
/* 
body {
    font-size: 1.6rem;
    background: var(--custom-orange) !important;
}  */

body {
    background-image: linear-gradient(
            rgba(23, 162, 184, 0.8),
            rgba(23, 162, 184, 0.8)
        ),
        url("./img/pogon-4.JPG");
    background-size: cover;
    background-attachment: fixed;

    position: relative;
}

main {
    min-height: 80vh;
    
}

.navbar:nth-child(2) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.icon {
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid black;
    border-radius: 50%;
}

.icon--user {
    border: none;
}

.icon--update-avatar {
    width: 8rem;
    height: 8rem;
}


.table td {
    /* background-color: red; */
    padding: 0.25rem 0.75rem;
}

.table input {
    padding: 0.22rem;
    text-align: center;
}

.footer {
    font-size: 1.2rem;
}

.footer .lead {
    letter-spacing: 2px;
    font-size: 1.6rem;
}

.aprDetails p {
    margin: 0;
    line-height: 1.1;
    font-size: 0.8rem;
}

hr {
    box-shadow: 2px 2px 2px #000;
}

label {
    margin-bottom: 0;
}

.sign img {
    width: 60%;
    height: auto;
}


/* input elementi tipa number da nemaju spiner unutra */
input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::placeholder {
    font-weight: 100;
}

label:after {
    content: " *";
    color: red;
    /* margin-left: 0.3rem; */
}

#updateAvatar label:after {
    content: "";
}

.alert {
    width: 50%;
    margin: 1rem auto;
    margin-bottom: 0;
    text-align: center;
    padding: 0.2rem;
    border-radius: 0.4rem;

    z-index: 1030;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}


.alert p {
    display: inline;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

.alert p:last-child {
    cursor: pointer;
}

.alert--error {
    border: 3px solid rgb(250, 37, 0);
    background-color: rgb(248, 137, 103);
    /* box-shadow: 0px 0px 8px var(--error-color); */
}

.alert--success {
    border: 3px solid rgb(4, 160, 69);
    background-color: rgb(76, 238, 143);
    /* box-shadow: 0px 0px 8px var(--success-color); */
}

small {
    display: none;
    color: var(--error-color);
}

/* podešavanja za štampu strane
    https://stackoverflow.com/questions/1542320/margin-while-printing-html-page
*/
@media print {
    @page {
        size: A4; /* DIN A4 standard, Europe */
        margin:4mm 0 3mm 0; /* this affects the margin in the printer settings */ 
      }

    body {
        display:table;
        table-layout:fixed;
        /* width: 210mm;
        height: 282mm; */
        /* padding-top:0.8cm;
        padding-bottom:0.5cm; */
        /* height:auto; */
        margin:0;
        padding:0;
         }

    #bruto,
    #neto,
    #drumSize {
        padding: 0;
    }

    .smanji {
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }

    .centriraj {
        flex-direction: row !important;
    }

    .stampa {
        flex-wrap: nowrap;
    }
    .stampa > h2 {
        font-size: 27px;
        flex: 0 0 75%;
        max-width: 75%;
    }

    label:after {
        content: "";
    }
}

#nav-icon3 {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--custom-blue);
    border-radius: 4px;
    /* opacity: 1; */
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
    top: 4px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 14px;
}

#nav-icon3 span:nth-child(4) {
    top: 24px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

